/* Font Installation  */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.quicksand {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.raleway{
    
    font-optical-sizing: auto;
    font-style: normal;
  }
/* Universal Style  */
* {
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    
}
.color-p{
    color: rgb(128, 128, 128);
}
/* Header Style */
header {
    max-width: 1280px;
    margin: 3vh auto 15vh auto;
}

/* Navigation Bar  */
.nav-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-div-01 {
    display: flex;
    align-items: center;
}

.nav-div-01 h3 {
    font-size: 32px;
    font-weight: 700;
}

.nav-div-02 ul {
    display: flex;
    list-style: none;
    gap: 3vw;
    font-size: 20px;
    font-weight: 500;
}

.iii-nav{
    display: none;
}
.i-nav{
    display: none;
}

.RFSD{
    display: none;
}
.primary-btn {
    height: 50px;
    width: 150px;
    background: rgb(254, 163, 1);
    border: none;
    border-radius: 12px;
    font-size: 18px;
    font-weight: 400;
}
.primary-btn a{
    color: white;
}
.font-m{
    margin-top: 3vh;
    height: 5vh;
    align-content: center;
    border: 2px solid green;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 600;
}
/* Section - 01 */
.header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 7vh;
}

.section-01-div-01 {
    max-width: 650px;
}

.section-01-div-01 h1 {
    font-size: 56px;
    font-weight: 700;
}

.section-01-div-01 p {
    font-size: 20px;
    font-weight: 400;
    line-height: 3vh;
    margin-top: 3vh;
    margin-bottom: 3vh;
}

.section-01-div-01 button {
    background: black;
}

#Empowering {
    color: rgb(254, 163, 1);
}

#towards-vision {
    color: rgb(1, 172, 253);
}

/* Main Section Style */
.main-01 {
    background: url(./image/bg.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
.main-01-div-01{
    max-width: 1280px;
    margin: 3vh auto 0 auto;
}
.main-01-header h2{
    margin-top: 60px;
    margin-bottom: 100px;
    text-align: center;
    font-size: 46px;
    font-weight: 700;
}
.container-01 {
    display: flex;
    justify-content: space-between;
}

.box {
    height: 450px;
    width: 350px;
    text-align: center;
    align-content: center;
    border-radius: 18.86px;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.062);
}
#b1{
    background: linear-gradient(180.00deg, rgb(222, 245, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
    border: 0.94px solid rgb(222, 245, 255);
}
#b2{
    background: linear-gradient(180.00deg, rgb(255, 244, 220),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
    border: 0.94px solid rgb(255, 244, 220);
}
#b3{
    background: linear-gradient(180.00deg, rgb(238, 225, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
    border: 0.94px solid rgb(242, 232, 255);
}
.box h4{
    font-size: 24.52px;
    font-weight: 700;
    margin-top: 3vh;
}
.box p{
    font-size: 15.09px;
    font-weight: 500;
    margin-top: 35px;
    margin-bottom: 35px;
}
.box h6{
    font-size: 15.09px;
    font-weight: 700
}
.arrows{
    display: flex;
    justify-content: center;
    gap: 3vw;
    margin-top: 15vh;
    margin-bottom: 20vh;
}
.arrows img{
    max-width: 70px;
}
#arrow{
    rotate: 180deg;
}
.main-02{
    background: url(./image/bg.png), linear-gradient(0.00deg, rgba(254, 163, 1, 0.3),rgba(255, 255, 255, 0.3) 100%);;
    background-repeat: no-repeat;
    background-size: cover;
}
#Story{
    text-align: center;
    font-size: 46px;
    font-weight: 700;
    margin-top: 15vh;
    margin-bottom: 5vh;
}
.story-margim{
    max-width: 1280px;
    margin: 3vh auto 0 auto;
}
.container-02{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    gap: 30px;
    padding-bottom: 20vh;

}
.layer-01{
    width: auto;
    background-color: rgb(255, 255, 255);
    border-radius: 16px;
}
#over-1{
    position: relative;
    height: 3vw;
    width: 10vw;
    bottom: 5%;
    left: 5%;
    border-radius: 20px;
    background: rgb(60, 216, 232);
    text-align: center;
    align-content: center;
    font-size: 25px;
    font-weight: 800;
}
.over-l{
    position: relative;
    height: 3vw;
    width: 10vw;
    bottom: 10%;
    left: 5%;
    border-radius: 20px;
    text-align: center;
    align-content: center;
}
.over-l h6{
    font-size: 15.34px;
    font-weight: 800;
}
.story-img img{
    border-radius: 16px 16px 0 0;
    width: 100%;
}
.box-02{
    padding: 30px;
}
.box-02 h4{
    font-size: 24px;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 40px;
}
.Ex-mark{
    background: rgb(0, 225, 255);
}
.card{
    width: auto;
    background: rgb(255, 255, 255);
    border-radius: 16px;
}
.card-info{
    text-align: start;
    padding: 30px;
}
.card-info h5{
    font-size: 15.34px;
    font-weight: 700;
    padding-bottom: 3vh;
}
.card-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
}


/* Footer Style */

footer{
    background: rgba(1, 173, 253, 0.719);
    color: white;
}
.footer-section{
    max-width: 1280px;
    margin: 0 auto 0 auto;
    padding: 5vw;
    display: flex;
    justify-content: space-between;
}
.footer-section-div-01{
    display: flex;
    align-items: start;
    gap: 1.5vw;
    max-width: 150px;
}
.footer-header h2{
    margin-top: 12px;
    font-size: 42.14px;
    font-weight: 700;
}
.footer-img img{
    width: 120px;
}

.footer-nav h4{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 5vh;
}

.footer-nav ul{
    list-style: none;
}
.footer-nav ul li{
    margin-bottom: 3vh;
}
.footer-nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 500;
}
.icons h4{
    font-size: 26px;
    font-weight: 700;
}
.last-icons{
    margin-top: 2vh;
    display: flex;
    gap: 1vw;
}

/* hr{
    display: none;
} */
@media screen and (max-width: 1080px) {
header{
    margin-top: 0;
}
nav{
    border: 2px solid orange;
    border-radius: 5px;
    padding: 1vw;
}
.margin{
    max-width: 430px;
    margin-left: auto;
    margin-right: auto;
}
.iii-nav{
    display: block;
    margin-bottom: 4px;
    height: 5px;
    width: 30px;
    background: black;
}
.i-nav{
    display: block;
    margin-right: 3vw;
}
/* hr{
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    border-top: 2px solid orange;
} */
.RFSD{
    display: flex;
    justify-content: center;
}
.RFSD img{
    width: 100%;
}
.hide{
    display: none;
}
.main-01-header h2{
    margin-bottom: 5vh;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
}
.header-section{
    display: grid;
    grid-template-columns: auto;
    margin-top: 2.5vh;
}
.section-01-div-01{
    text-align: center;
}
.section-01-div-01 h1{
    margin-top: 3vh;
    font-size: 2.5em;
}
.section-01-div-01 p {
    margin-top: 5vh;
    margin-bottom: 5vh;
}
.section-01-div-02{
    display: none;
}
.container-01{
    display: grid;
    grid-column: auto;
    gap: 5vh;
    justify-content: center;
}
.arrows{
    display: none;
}
.layer-01{
    display: none;
}
.container-02{
    display: flex;
    justify-content: center;
}
.card-container{
    margin-left: 5vw;
    margin-right: 5vw;
}
.over-l{
    height: 5vh;
    width: 25vw;
}
.over-l h6{
    font-size: 10px;
    font-weight: 600;
}

.footer-section{
    display: grid;
    grid-column: auto;
    gap: 10vh;
}
.footer-section-div-01{
    display: grid;
    grid-column: auto;
}

}